/*thiết lập responsive
*/
/*pc
*/

@media screen and (max-width: 1200px){
	*{background-color:orange;}
}
/*/ipad ipadpro*/
@media screen and (max-width: 1024px){	
	*{background-color:yellow;}


}
/*mobile*/
@media screen and (max-width: 767px){
	*{background-color:blue;}
	}